@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  margin: 0px;
  background: #E5E5E5;
  min-width: 375px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

p {
  font-size: 15px;
}

* {
  font-family: "Montserrat";
}

.header {
  position: -webkit-sticky;
  position: sticky;
  background: #0B0B0B;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 2299px;
  height: 66px;
  padding-right: 77,84px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  /* Lai header nostātos pa vidu */
}

.menu > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu > .toggle {
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 762px;
  /* max-width izpleš par iekšējā teksta minimālo platumu */
  height: 46px;
}

/* Navigācijas linki */
.navbar__lnk {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  padding: 0px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
}

.navbar__lnk:hover {
  color: lavender;
}

/* Navigācijas links CONTACT ME */
.navbar__lnkcnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 4px solid #FFFFFF;
  padding: 10px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.navbar__lnkcnt:hover {
  opacity: 0.7;
}

.owner_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  background: #D7D7D7;
  margin: 0px auto auto auto;
}

.owner_two_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 86px 0px 0px 0px;
  margin: 0px auto 0px auto;
}

.owner_desc {
  padding: 0px 57px 0px 0px;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

.owner_two_blocks > * {
  max-width: 45%;
}

.icon_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
  padding: 60px 57px 0px 0px;
}

.icon_top * {
  width: 61px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #C4C4C4;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon_top a:hover {
  -webkit-box-shadow: 0px 4px 4px #6d6d9b;
          box-shadow: 0px 4px 4px #6d6d9b;
}

.itberries_section {
  font-weight: 700;
  line-height: 94px;
  max-width: 1920px;
  padding: 54px 0px 0px 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(90.18deg, #1D1D1D 31.74%, #1D1D1D 90.49%, #1D1D1D 90.49%);
  margin: auto;
  color: #FFFFFF;
}

.aboutme_section {
  max-width: 1920px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #FFFFFF;
  margin: auto;
  padding-top: 1px;
}

/* ABOUT ME box by ID */
#aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 420px;
  min-width: 200px;
  border: 8px solid #000000;
  padding: 15px 0px 15px 0px;
  margin: 110px auto 60px auto;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.35538em;
  text-align: center;
  color: #000000;
}

.aboutme_block {
  max-width: 986px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.aboutme_block h1 {
  font-size: 32px;
  font-weight: bold;
}

.acp_pmi_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.acp_pmi_block div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cert_block {
  padding: 30px;
}

.cert_block div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

.cert_block h1 {
  font-size: 30px;
}

.cert_block h2 {
  font-size: 30px;
}

.cert_block h3 {
  font-size: 20px;
}

/* separatorBlack 1 */
.seperatorBalck {
  width: 170px;
  height: 12px;
  background: url(separatorBlack.png);
}

/* Skills "Section"*/
/* Skills BOX by ID */
#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 420px;
  min-width: 200px;
  border: 8px solid #000000;
  padding: 15px 0px 15px 0px;
  margin: 110px auto 60px auto;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.35538em;
  text-align: center;
  color: #000000;
}

.skills_block {
  max-width: 1004px;
  margin: auto;
}

.skills_block h3 {
  padding: 60px 0px 40px 0px;
  letter-spacing: 0.35538em;
}

.skills_icon_lrblock {
  padding-bottom: 10%;
}

.skills_row {
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  /* IE10 */
  padding: 20px 0;
}

/* Create equal columns that sits next to each other */
.skills_column {
  -ms-flex: 24%;
  /* IE10 */
  -webkit-box-flex: 24%;
          flex: 24%;
  max-width: 100%;
  padding: 0px 4px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 808px) {
  .skills_column {
    -ms-flex: 45%;
    -webkit-box-flex: 45%;
            flex: 45%;
    max-width: 100%;
    text-align: center;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .skills_column {
    -ms-flex: 100%;
    -webkit-box-flex: 45%;
            flex: 45%;
    max-width: 100%;
  }
}

.icon_skills div {
  width: 21%;
  text-align: center;
}

.gallery_section {
  max-width: 1920px;
  margin: auto;
}

/* Gallery BOX by ID */
.gallery_pict_container {
  position: relative;
  margin: auto;
}

#gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 420px;
  min-width: 200px;
  border: 8px solid #000000;
  padding: 15px 0px 15px 0px;
  margin: 110px auto 60px auto;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.35538em;
  text-align: center;
  color: #000000;
  position: relative;
  top: -100px;
  margin: 0 auto;
}

.gallery_section img {
  max-width: 100%;
}

.gallery_tab {
  max-width: 1920px;
  background: #1D1D1D;
  padding: 50px;
  text-align: center;
}

.gallery_tab button {
  background-color: transparent;
  border: transparent;
  color: #FFFFFF;
  padding: 0 40px;
}

.gallery_tab button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.gallery_block_private {
  display: none;
}

.gallery_row {
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  /* IE10 */
  padding: 4px;
}

/* Create equal columns that sits next to each other */
.gallery_column {
  -ms-flex: 25%;
  /* IE10 */
  -webkit-box-flex: 25%;
          flex: 25%;
  max-width: 100%;
  padding: 0 4px;
}

.gallery_column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gallery_column {
    -ms-flex: 50%;
    -webkit-box-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery_column {
    -ms-flex: 100%;
    -webkit-box-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

.contact_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(0, 0, 0, 0.16) 100%), #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  padding-bottom: 80px;
}

/* Contact BOX by ID */
#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 420px;
  min-width: 200px;
  border: 8px solid #000000;
  padding: 15px 0px 15px 0px;
  margin: 110px auto 60px auto;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.35538em;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

/* Contact input box */
.contact__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__block input, textarea {
  width: 300px;
  height: 50px;
  font-size: inherit;
  background: inherit;
  border: none;
  border-bottom: 5px solid #000000;
  border-left: 5px solid #000000;
  margin: 20px 0px;
}

#client_message {
  height: 100px;
  resize: vertical;
}

.contact__block input[type="message"] {
  width: 300px;
  height: 150px;
}

.contact__block input:focus, button:focus {
  -webkit-box-shadow: 0px 0px 10px rgba(82, 0, 136, 0.616);
          box-shadow: 0px 0px 10px rgba(82, 0, 136, 0.616);
}

#submit {
  top: 500px;
  width: 120px;
  height: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  border: none;
  border-left: 5px solid #000000;
  border-right: 5px solid #000000;
  margin: 30px auto 0px auto;
}

#submit {
  color: #000000;
  background: transparent;
  cursor: pointer;
  margin-bottom: 50px;
}

#submit:hover {
  opacity: 0.7;
}

.template {
  display: none;
}

#comments_form {
  margin-top: 50px;
}

#comments_form textarea {
  resize: vertical;
}

.comments {
  max-width: 400rem;
  padding: 1rem;
  margin: auto;
}

.comments__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #64577e;
  padding: 0.25rem;
}

.comments__entry * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
}

comments__entry .author {
  width: 100px;
}

.comments__entry:last-child {
  border: 0;
}

.popup {
  max-width: 400px;
  max-height: 700px;
  background: rgba(204, 200, 200, 0.48);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.popup form {
  margin: 0 auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1920px;
  background: #1A1A1A;
  margin: auto;
}

.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.18538em;
  max-width: 355px;
  height: 50%;
  padding: 40px;
}

footer * {
  color: #FFFFFF;
  text-decoration: none;
}

@media only screen and (max-width: 890px) {
  img {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .owner_section > div {
    padding-top: 20px;
  }
  .owner_desc {
    padding-right: 5px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 10px;
  }
  .icon_top {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 696px) {
  .navbar__lnk {
    padding: 40px;
  }
  .navbar {
    padding-right: 7px;
  }
}

@media only screen and (max-width: 670px) {
  .navbar__lnk {
    padding: 20px;
  }
  .navbar__lnkcnt {
    padding: 10px;
  }
}

@media only screen and (max-width: 620px) {
  .navbar__lnk {
    padding: 8px;
  }
  .navbar__lnkcnt {
    padding: 5px;
  }
}

@media only screen and (max-width: 94px) {
  .menu > .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .menu > .navbar {
    display: none;
  }
  .menu > .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  /*::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property. It is inline by default.
  Add a heart before links  a::before {content: "♥"; }*/
  .toggle::before {
    content: url(images/hamburger.svg);
    padding-right: 80px;
  }
  .toggle.open::before {
    content: url(images/cross.svg);
  }
  .menu > .navbar.open {
    position: fixed;
    top: 68px;
    left: 0;
    width: 150vw;
    min-height: calc(100vh - 68px);
    background: rgba(255, 255, 255, 0.801);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: auto;
  }
  .navbar__lnk {
    color: #000000;
  }
  .menu .text {
    display: initial;
  }
}
/*# sourceMappingURL=style.css.map */