// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//CSS Tools: Reset CSS
// https://meyerweb.com/eric/tools/css/reset/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}

body {
  margin:0px;
  background: #E5E5E5;
  min-width: 375px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

p {
  font-size: 15px;
}

* {
  font-family: "Montserrat";
}

@mixin section_box() {
  display: flex;
  justify-content: center; //teksts iekš box ir centrēts horizontāli
  align-items: center; //teksts iekš box ir centrēts vertikāli

  max-width: 420px;
  min-width: 200px;// nestrādā
  border: 8px solid #000000;
  padding: 15px 0px 15px 0px;
  margin: 110px auto 60px auto;

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;

  letter-spacing: 0.35538em;
  text-align: center;

  color: #000000;
}

.header {
    // top: 262px;
    position: sticky;
    background: #0B0B0B;
  }

   .menu {  // šo div vajag, lai lai izpleš krāsu pa visu header platumu
    display:flex;  // Izlīdzināšana priekš navigācijas box- navbar
    justify-content: right;
    align-items: center;

    max-width: 2299px; 
    height: 66px;
    padding-right: 77,84px;
    box-sizing: border-box;
    margin: auto; /* Lai header nostātos pa vidu */
  }

  .menu > * {
    display: flex;
    align-items: center;
  }

  .menu > .toggle {
    display: none;
  }

  // Augšējās navigācijas bloks ar linkiem
  .navbar {
    display:flex; // Izlīdzināšana priekš navigācijas bloka linkiem
    justify-content: right;
    padding-right: 20px;
    align-items: center;

    max-width: 762px; /* max-width izpleš par iekšējā teksta minimālo platumu */
    height: 46px;

  }

  /* Navigācijas linki */
  .navbar__lnk {
    font-style: normal;

    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    padding: 0px 50px;
    box-sizing: border-box;
    
    text-decoration: none;
    color: #FFFFFF;

  }
  
  .navbar__lnk:hover {
    color: lavender;
  }


  /* Navigācijas links CONTACT ME */
  .navbar__lnkcnt {
    display: flex;
    align-items: center;

    background: #FFFFFF;
    border: 4px solid #FFFFFF;
    padding: 10px 50px; 
    box-sizing: border-box;
    border-radius: 30px;

    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
    text-decoration: none;
  }

  .navbar__lnkcnt:hover {
    opacity: 0.7;
  }

  // Sections (Sadaļas)
  .owner_section {
    display: flex; // lai nostrādā margin:auto iekš .owner_section > div
    max-width: 1920px;
    // background: #B9AD9D;
    background: #D7D7D7;
    margin:0px auto auto auto; // lai visa sekcija pati par sevi nostājas pa vidu
  }

  .owner_two_blocks { 
    display:flex; // Lai sastājas rindā teksta bloks ar bildi
    align-items: center;
    padding: 86px 0px 0px 0px;
    margin: 0px auto 0px auto; 
}

.owner_desc {
  padding: 0px 57px 0px 0px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.owner_two_blocks > * {
  max-width: 45%;
}

.icon_top {
  display: flex;
  justify-content: space-between;
  width: 140px;
  padding: 60px 57px 0px 0px;
}

.icon_top * {
  width: 61px;
  height: 56px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon_top a:hover {
  box-shadow: 0px 4px 4px rgb(109, 109, 155);
}

  // Section IT berries
  .itberries_section {
   
    font-weight: 700;
    line-height: 94px;

    max-width: 1920px; 
    padding: 54px 0px 0px 5%;
    box-sizing: border-box;
    background: linear-gradient(90.18deg, #1D1D1D 31.74%, #1D1D1D 90.49%, #1D1D1D 90.49%);

    margin: auto;

    color: #FFFFFF;
  }

  // Section About me
  .aboutme_section {
    max-width: 1920px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #FFFFFF;;
    margin: auto; 
    padding-top: 1px; // lai izpleš līdz augšai sekciju no boxa
  }

    /* ABOUT ME box by ID */
    #aboutme {
      @include section_box;   
  }

  .aboutme_block {
    max-width: 986px;
    // padding: 88px 0px 88px 0;
    // height: 816px;
    // left: 489px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;

    // background: pink;
    
  }

  .aboutme_block h1 {
    font-size: 32px;
    font-weight: bold;
  }

  .acp_pmi_block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .acp_pmi_block div {
    align-items: center;
    text-align: center;
  }

  .cert_block{
    padding: 30px;
    // display:flex;
    // flex-direction: column;
    // justify-content:flex-start;
  }

  .cert_block div {
    display:flex;
    padding-top: 30px;
  }


  .cert_block h1 {
    font-size: 30px;
  }

  .cert_block h2 {
    font-size: 30px;
  }

  .cert_block h3 {
    font-size: 20px;
  }
    /* Skills "Section"*/

    /* Skills BOX by ID */
    #skills {
     @include section_box;
    }

    .skills_block { 
      max-width: 1004px;
      margin:auto;
    }

    .skills_block h3 {
      padding: 60px 0px 40px 0px;
      letter-spacing: 0.35538em;
    }

    .skills_icon_lrblock {
      padding-bottom: 10%;
    }

    .skills_row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      //resposivitātei
      flex-wrap: wrap;
      -ms-flex-wrap: wrap; /* IE10 */
      padding: 20px 0;
    }
    
    /* Create equal columns that sits next to each other */
    .skills_column {
      -ms-flex: 24%; /* IE10 */
      flex: 24%;
      // max-width: 100%;
      padding: 0px 4px;
      text-align: center;
    }

/* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 808px) {
    .skills_column {
      -ms-flex: 45%;
      flex: 45%;
      max-width: 100%;
      text-align: center;
    }
  }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .skills_column {
      -ms-flex: 100%;
      flex: 45%;
      max-width: 100%;
    }
  }

    .icon_skills div {
      // padding: 0px 60px 0px 60px;
      width:21%;
      text-align: center;
    }

    .gallery_section {
      max-width: 1920px;
      // height: 1305px;
      // top:-5px;
  
      // background: #D7D7D7;
      margin: auto; 
    }

    /* Gallery BOX by ID */

    .gallery_pict_container {
      position: relative;
      margin:auto;
    }

    #gallery {
      @include section_box;
        position: relative;
        top: -100px;
        margin: 0 auto;
    }

    .gallery_section img {
      max-width: 100%;
    }

    .gallery_tab {
     max-width: 1920px;
     background: #1D1D1D;
     padding:50px;
     text-align: center;
    }

    .gallery_tab button {
      background-color: transparent;
      border: transparent;
      color: #FFFFFF;
      padding: 0 40px;
    }

    .gallery_tab button:hover {
      cursor: pointer;
      opacity: 0.6;
    }

    .gallery_block_private {
      display: none;
    }

    .gallery_row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap; /* IE10 */
      padding: 0px 0px 4px 0px;
      background-color: white;
    }
    
    /* Create equal columns that sits next to each other */
    .gallery_column {
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
      max-width: 100%;
      padding: 0px 4px;
    }
    
    .gallery_column img {
      margin-top: 8px;
      vertical-align: middle;
      width:100%;
    }

/* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .gallery_column {
      -ms-flex: 50%;
      flex: 100%;
      max-width: 100%;
    }
  }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .gallery_column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  // Section Contact
  .contact_section {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(0, 0, 0, 0.16) 100%), #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    padding-bottom: 80px;
  }

/* Contact BOX by ID */
#contact {
  @include section_box;
  text-decoration: none; // nevaru saprast, kāpēc nekur šitais neiedarbojas
 }

/* Contact input box */
  .contact__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }
  
  .contact__block input, textarea /*[type="name"]*/ {
    width: 300px;
    height: 50px;

    font-size: inherit;
    background: inherit;

    border: none;
    border-bottom: 5px solid #000000;
    border-left: 5px solid #000000;
   
    margin: 20px 0px;
  }

  // Your message
    #client_message {
    height: 100px;
    resize: vertical;
  }

  .contact__block input:focus, button:focus {
    box-shadow: 0px 0px 10px rgba(82, 0, 136, 0.616);
  }

  // .contact__block input[type="message"] {
  //   width: 300px;
  //   height: 150px;
  // }
  
  // comments__entry template
  .template {
    display:none; //sākumā klase tiks pazaudēta
}

#upload_form {
  background:#ffffff;
  display: flex;
  flex-direction:column;
  margin:auto;
  max-width:25rem;
  padding:1rem;
  border-radius: 0.25rem;
  margin-bottom:20px;

  button {
      background: #C4C4C4;
      border-radius: 0.25rem;
      border:0;
      padding:8px;
      margin-top:20px;
      color: #FFFFFF;
  }

  input[type=text], textarea {
    margin-bottom:10px;
    border-radius: 0.25rem;
    padding:8px;
}
}

.comments {
  width:70%;
  padding:1rem;
  box-sizing:border-box;
  margin:auto;
}

.comments__entry {
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
  border-bottom: 1px solid rgb(100, 87, 126);
  padding: 0.25rem;
}

.comments__entry .author{
  width: 100px;
  word-break: break-all;
}

.comments__entry .email{
  width: 300px;
  word-break: break-all;
}

.comments__entry .phone{
  width: 100px;
  word-break: break-all;
}

.comments__entry .message{
  width: 400px;
  min-width:100px;
  word-break: break-all;
}

// .message {
//   max-width: 300px;
//   margin:0;
//   white-space: pre; // pieliekot white-space: pre izvietojums vairākās rindās
// }

.comments__entry:last-child {
  border:0;
}

//Contacts editing form

.popup {
  background: rgba(97, 95, 95, 0.801);
  width:100vw;
  height:100vw;
  position:fixed;
  top:0;
  left:0;
  display:none;
  align-items:center;

  //.popup form 
    form {
        margin:0 auto;
    }

    form * {
      width: 310px;

      background-color: #e7e5e5;

      display:flex;
      justify-content: column;

      // color: #000000;

      margin: 5px auto;
    }
}

//Popu message laukam ir jābūt lielākam
.popup form textarea {
  height:200px;
}

  #submit {
    top: 500px;
    width: 120px;
    height: 30px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    letter-spacing: 0.1em;
  
    border: none;
    border-left: 5px solid #000000;
    border-right: 5px solid #000000;
  
    margin: 30px auto 0px auto;
  }
  
  #submit {
    color: #000000;
    // text-decoration: none;
    background: transparent;
    cursor: pointer;
    margin-bottom: 50px;
  }
  
  #submit:hover {
    opacity: 0.7;
  }

  // Footer section
  footer {
    display: flex;
    justify-content: center; // iekšējā bloka izvietojums pa vidu footerim
    align-items: center;

    max-width: 1920px;
    // height: 326px;
    // padding: 69px;
    // box-sizing: border-box;
   background: #1A1A1A;
    margin:auto;
  } 

  .footer_section { 
    display: flex;
    flex-direction: column;
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    
    letter-spacing: 0.18538em;

    max-width: 355px;
    height: 50%;
    padding: 40px;
    // background:pink;
  }

  footer * {
    color: #FFFFFF;
    text-decoration: none;
  }

  // .icons_bottom {
  //   background: #850c0c;
  // }

  @media only screen and (max-width: 890px) {
    img {
      // width:80%;
      -o-object-fit: cover;
         object-fit: cover;
      }

    .owner_section > div {
      padding-top:20px;
    }

    .owner_desc {
    padding-right: 5px;
    }
  
    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 25px;
    }

    h3 {
    font-size: 20px;
  }

    h4 {
      font-size: 10px;
  }

  .icon_top {
    padding-top: 10px;
  }

  #aboutme, #gallery, #skills, #contacts {
   max-width: 120px;
  }

  #gallery {
    top: -60px;
    height: 10px;
  }
}

  @media only screen and (max-width: 696px) {
    .navbar__lnk {
      padding:40px;
    }
    .navbar {
      padding-right:7px;
    }
  }

@media only screen and (max-width: 670px) {
    .navbar__lnk {
      padding:20px;
    }

    .navbar__lnkcnt{
    padding: 10px;
    }
}
@media only screen and (max-width: 620px) {
  .navbar__lnk {
    padding:8px;
  }

  .navbar__lnkcnt{
  padding: 5px;
  }
}

@media only screen and (max-width: 94px) {
  .menu > .toggle {
    display: flex;
    cursor: pointer;
  }

  .menu > .navbar {
    display: none;
  }

  .menu > .toggle {
    display: flex;
    cursor: pointer;
  }

  /*::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property. It is inline by default.
  Add a heart before links  a::before {content: "♥"; }*/ 
  .toggle::before {
    content: url(images/hamburger.svg);
    padding-right: 80px; // nestumjas toggle pa kreisi
  }

  .toggle.open::before {
    content: url(images/cross.svg);
  }

  .menu > .navbar.open {
    position: fixed;
    top: 68px;
    left: 0;
    width: 150vw;
    min-height: calc(100vh - 68px);
    background: rgba(255, 255, 255, 0.801);
    display: flex;
    flex-direction: column;

    overflow-y: auto;
  }

  .navbar__lnk {
    color: #000000;
  }

  .menu .text {
    display: initial;
  }
}